//archivo sass
* {
    margin: 0;
    padding: 0;
    border: 0;

}

html {
   // height: 600px;
   // width: 800px;

    background-color: rgb(180, 180, 173);



    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: lighter;
        header {
            height: 50px;
        
            
             nav {
                display: flex;
                justify-content: space-between;
                background-color: rgb(122, 144, 240);
        
        
                .menu {
                    #botMenu {
                        display: none;
                    }
        
                    label {
                        display: none;
                        padding: 15px;
                    }
        
                    ul {
                        display: flex;
                        flex-direction: row;
                        list-style: none;
        
                        li {
                            border-right: 1px solid whitesmoke;
                            padding: 15px 0;
        
                            .navBar {
                                text-decoration: none;
                                cursor: default;
                                padding: 10px 20px;
                                color: whitesmoke;
                            }
        
                            &:hover {
                                background: rgb(99, 96, 96);
                            }
                        }
                    }
                }
        
                .logo {
                    color: whitesmoke;
                    padding: 10px 20px;
                }
            }
        }
        footer {
            .copyright {
                background-color: rgb(122, 144, 240);
                height: 100px;
                display: flex;
                text-align: center;
                color: whitesmoke;
            }
        }
    }
}

@media(max-width:768px) {
    html {
        body {
           width: 100%;
            header {
                nav {
                    .menu {
                        #botMenu:checked~ul {
                            left: 0;
                        }

                        label {
                            display: block;
                            color: whitesmoke;
                            padding: 15px;
                        }

                        ul {
                            flex-direction: column;
                            width: 60%;
                            position: absolute;
                            left: -60%;
                            transition: all 0.7s;
                            background-color: rgb(122, 144, 240);

                            li {
                                border-right: 0;
                                border-top: 1px solid whitesmoke;
                                padding: 10px 0;

                                a {
                                    padding: 0 15px;
                                }
                            }
                        }
                    }
                }

            }
            .container{
                width: 100%;
                .form{
                    width: 100%;
                }
            }
        
        }
    }
}

    .container {
        //height: 450px;
        //width: 900px;

        .form {
            background-color: #c9bcbc;
            //height: 350px;
            //width: 800px;
            border: 1px;
            margin: 10px;
            margin-left: 15px;
            margin-top: 10px;

            .form-control{
                border:solid 2px rgb(124, 111, 182);
                width: 200px;
            }

            .button{
                background-color: rgb(151, 155, 196);
                border:solid 1.5px rgb(124, 111, 182);
                border-radius: 5px;
                padding: 7px 25px;
                margin:10px;
                color: whitesmoke;
                font-size: large;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }

    main {
        background-color: papayawhip;
        width: 900px;
        #imagen{
            background-size: 800px;
            background-repeat: no-repeat;
        }

    }

    h2, h3{
        text-align: center;
    }

.hideDiv {
    display: none;
}

.torneoCard {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    grid-area: box;
    display: flex;
    align-content: center;
    align-items: center;
}
